@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Nav bar */
#logo{
    font-family: 'Noto Serif', serif;
    color: #244D4D;
    font-size: 24px;
}
header{
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}
.l1{
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
}
.icons img{
    padding: 15px;
}
.icons span{
    padding: 10px;
}


/* Head part */
.main{
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.overlap{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width:1000px ;
    margin: auto;
    height: 600px;
    background-color: white;
    position: relative;
}
.text4{
    width: 43%;
    padding: 20px;
    font-family: poppins;
    position: absolute;
    top: 130px;
    height: 310px;
    text-align: center;
    z-index: 2;
}
.text4 h1{
    font-size: 45px;
    font-family: 'Noto Serif', serif;
    color: #244D4D;
    padding-left: 20px;
    text-align: left;
}
.text4 p{
    margin-bottom: 1.5rem;
    padding-top: 0%;
    padding-right: 40px;
    text-align: left;
    padding-left: 30px;
    font-size: 15px;
    color: #5F5F64;
}
.overlap img{
    position: relative;
    top: 2%;
    left: 24%;
    height: 550px;
    width: 100%; 
    max-width: 900px;
    box-shadow: 5px 4px 10px rgba(37,37,37,0.5);
    z-index: 1;
}
.dots{
    position: absolute;
    left: 130px;
    top: 150px;
    width: 130px;
    z-index: 2;
}
@media screen and (max-width: 600px){
    .dots{
        visibility: hidden;
    }
    .main{
        flex-direction: column;
        padding-left: 10px;
    }
    .text4 {
        width: 99%; 
        height: auto; 
        top: 250px; 
        text-align: center; 
    }
    .text4 h1 {
        font-size: 30px;
    }
    .text4 p {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 13px;
        color: #5F5F64;
    }
    .overlap {
        flex-direction: column;
        width: 90%; 
        padding-left: 0px;
        margin: 0%;
        max-width: none;
    }
    .overlap img {
        width: 290px;
        height: auto; 
        left: 0%;
    }
}


/* Trusted part */
.trusted{
    background-color: #F4F6F6;
    text-align: center; 
    font-family:'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom:20px ;
}


/* Hot deals */
.heading{
    font-family:'Noto Serif', serif ;
    font-size: 40px;
    color: #244D4D;
    padding-bottom: 120px;
}
.headText{
    font-family: 'Open Sans', sans-serif;
    color: #5f5f64;
    font-size: 16px;
}


/* About us part */
.abtext h2{
    color: #244D4D;
    font-weight: bold;
    font-family:'Noto Serif', serif ;
    font-size: 40px;
}
.abtext p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.abbtn{
    padding-left: 400px;
    padding-top: 25px;
}
.learn{
    width: 120px;
    height: 40px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);
    border: none;
}
.Atext h1{
    color: #244D4D;
    font-weight: bold;
    padding-top: 30px;
}
.Atext h3{
    color: #244D4D;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.Atext p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.aboutInner2 .img2{
    width: 200px;
    height: 210px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.aboutInner2 .img1{
    width: 200px;
    padding-top: 50px;
}
.aboutInner2 .img3{
    width: 200px;
    padding-bottom: 50px;
}
@media screen and (max-width: 600px) {
    .abbtn{
        padding-left: 30px;
    }
    .abtext{
        padding-top: 40px;
    }
}


/* Products */
.phead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.phead h1{
    color: #244D4D;
    font-family:'Noto Serif', serif ;
    padding: 10px;
    font-weight: 100;
    padding-left: 80px;
}
.phead p{
    padding: 10px;
    padding-right: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.phead p i{
    box-shadow: 5px 4px 5px rgba(119, 117, 117, 0.5);
}
.tabs{
    text-align: center;
}
.tabs ul{
    list-style: none;
}
.tabs ul li{
    display: inline-block;
    padding: 20px;
}
.tabs ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
}
/* .products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
} */
.p1{
    /* width: 300px; */
    /* margin: auto; */
    height: 600px;
    background-color: white;
    position: relative;
    padding-left: 30px ;
    padding-right: 30px;
}
.p1text{
    width: 280px;
    background-color: #e5e5e5;
    height: 280px;
    position: relative;
    top: 110px;
    z-index: 1;
}
.p1 img{
    position: absolute;
    z-index: 2;
    left: 108px;
}
.p1 .img2{
    left: 60px;
}
.p1 .img3{
    left: 78px;
}
.p1 .img4{
    left: 90px;
}
.p1text .name{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
}
.p1text .price{
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    padding-left: 60px;
}
.p1text .price span{
    font-size: 16px;
    color: #a9a9a9;
    text-decoration: line-through;
}
.p1text .cart{
    bottom: 260px;
    left: 230px;
}
@media screen and (max-width: 600px){
    .phead{
        flex-direction: column;
        font-size: 18px;
    }
    .phead h1{
        padding-left: 20px;
    }
    .tabs ul li{
        padding-left: 10px;
    }
    /* .products{
        padding-left: 0% ;
        padding-right: 0%;
    } */
    .p1{
        padding-left: 0% ;
        padding-right: 0%;
    }
}


/* Client says part */
.couter{
    padding: 40px;
}
.clientSay{
    background-color: #F4F6F6;
    padding: 40px;
    position: relative;
}
.client{
    text-align: center;
    position: relative;
}
.head{
    width: 450px;
    height: 300px;
    margin: auto;
}
.head h1{
    font-size: 50px;
    font-weight: 300;
    color: #244D4D;
    text-align: center;
}
.head p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.clientInner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.clientInner img{
    padding: 40px;
    padding-right: 80px;
    padding-top: 10px;
    height: 360px;
    width: 350px;
}
.cinner2{
    padding-top: 10px;
    width: 288px;
}
.cinner2 h4{
    font-family:'Noto Serif', serif ;
    color: #244D4D;
    font-size: 23px;
}
.cinner2 p{
    font-family:'Open Sans', sans-serif;
    color: #5E7388;
    font-size: 18px;
}
.cinner2 .p2{
    color: black;
    font-size: 15px;
}
.cinner2 .p3{
    font-size: 12px;
}
.btn1{
    border-radius: 80%;
    border: none;
    height: 40px;
    cursor: pointer;
}
.div{
    position: relative;
}
.clientInner img{
    position: relative;
    z-index: 1;
}
.star{
    position:absolute;
    left: 295px;
    top: 70px;
    z-index: 2;
}
.ellipse{
    position: absolute;
    left: 200px;
    top: 300px;
}
.side1{
    position: absolute;
    left: 0;
    top: 0;
}
.envelope{
    position: absolute;
    top: 50px;
    right: 80px;
}
@media screen and (max-width : 600px){
    .couter{
        padding: 0%;
        padding-bottom: 20px;
    }
    .head{
        width: 250px;
        height: 300px;
        margin: auto;
    }
    .clientSay{
        padding: 10px;
    }
    .clientInner{
        flex-direction: column;
    }
    .head h1{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    .clientInner img{
        padding: 20px;
        padding-right: 0px;
        padding-top: 10px;
        height: 320px;
        width: 250px;
    }
    .side1{
        visibility: hidden;
    }
    .star{
        left: 0px;
    }
    .ellipse{
        top: 450px;
        left: 0px;
    }
    .envelope{
        right: 0px;
        top: 200px;
    }
}


/* Footer css */
footer{
    background-color: #244D4D;
}
.outer{
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: row;
}
.foot{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    padding-right: 30px;
}
.foot2{
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 40px;
    width: 600px;
}
.foot2 button{
    border-radius: 50px;
    border: none;
    width: 170px;
    height: 60px;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}
.btn1{
    background-color: white;
    color: #3a5f5f;
}
.btn2{
    background-color: #3a5f5f;
    color: white;
    cursor: pointer;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div2{
    color: white;
    padding: 20px;
    padding-right: 40px;
}
.div2 ul{
    list-style: none;
    padding-bottom: 50px ;
}
.div2 ul li{
    padding: 8px;
}
.l1{
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.t1{
    font-family:'Noto Serif', serif;
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.t2{
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: 15px;
}
.div1{
    padding: 40px;
    width: 250px;
}
i{
    padding: 8px;
}
@media screen and (max-width: 600px){
    .outer{
        flex-direction: column;
    }
    .foot{
        font-size: 25px;
        padding-right: 10px;
    }
    .foot2{
        padding-left: 5px;
        width: 300px;
    }
    .foot2 button{
        width: 100px;
        height: 40px;
        font-size: 12px;
        padding-right: 10px ;
    }
    .div{
        flex-direction: column;
        text-align: center;
    }
    .div2{
        padding-top: 5px;
    }
    .div2 ul li{
        padding: 5px;
    }
    .div1{
        padding-right: 0px;
        padding-left: 20px;
        padding-bottom: 20px;
        text-align: left;
    }
}